.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
}
body {
  background-color: #8a06e2;
}
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 rgb(247, 242, 242);
  font-size: 10rem;
  color: #038383;
}
p {
  font-size: 2rem;
  color: #6EDCD9;
  ;
  font-family: 'Indie Flower', cursive;
}
img {
  width: 85%;
}

.btn {
  position: relative;
  width: 35%;
  color: rgb(37, 31, 31);
  background-color: #6EDCD9;
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 4%;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Indie Flower';


}
footer {
  font-size: 1.2rem;
  margin-top: 8%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.img1:hover {
  animation: shake 0.6s infinite;
}
@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(3px, 3px) rotate(1deg);
  }
  50% {
    transform: translate(-2px, -2px) rotate(-1deg);
  }
  75% {
    transform: translate(3px, -2px) rotate(2deg);
  }
  100% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
}
.img2:hover {
  animation: shake 0.6s infinite;
}
.btn:hover {
  animation: shake 0.6s infinite;
  color: rgb(243, 6, 6);
}